:root {
  --color-red : #ff6767;
  --color-blu : #6dc1c1;
  --color-ylw : #ffea7e;
  --color-grn : #5dff99;
  --color-gry : #dddddd;
  --color-prp : #ce42f7;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

#omega {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
}

/* ====================MAIN LAYOUT====================================== */

#mainModule {

  width: 100%;
  height: 100%;
  max-width: 200vh;
  max-height: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#upperRow {

  height: 40%;
  display: flex;
}

#upperLeft {

  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
}

#upperRight {

  width: 60%;
  height: 100%;
  overflow: hidden;

}

#lowerRow {

  height: 60%;
  overflow: hidden;
}



/* ================================================================== */
/* =======================COMPONENT: Key=========================================== */

.keyWrap {

  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key {

  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 30%;
  margin-bottom: 0.5%;
}



.raiseOrFlattenKey {
  height: 100%;
  width: 20%;


  font-size: 2.5em;
  font-weight: lighter;
}

.raiseOrFlattenKey:hover,
.raiseOrFlattenKey:focus {
  color: var(--color-red)
}

.raiseOrFlattenKey:active {
  color: var(--color-red)
}

.flatten{
  transform: rotateX(180deg);
}

.fillerDiv {
  width: 70%;
}

.console {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.console:hover {
  border: 2px solid var(--color-red);
}

.console:active {
  border: none;
  background: var(--color-red)
}

.tonic {
  width: 20%;
  text-transform: uppercase;

}

.mode {

  width: 70%;



}

/* =======================MODALS============================================ */


.modal {

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  z-index: 2;

}

/* Modal Content */
.tonic-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blu);

  width: 90%;
  height: 80%;
  max-height: 60vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  width: 90%;
  height: 80%;
  max-height: 60vw;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #466667;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: var(--color-ylw);
}


#tonicModal {
  display: none; /* Hidden by default */
}

#modeModal {
  display: none; /* Hidden by default */
}



.blackKeys {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  color: white;

  height: 30%;
  width: 78%;
}

.whiteKeys {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  height: 30%;
  width: 90%;

}

.keys {



  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.blk {
  background: black;
  color: white;
  width: 15.6%;
}

.blk:hover {
  background: #777777;
  border: none;
}


.wht {
  background: white;
  color: black;
  width: 13.5%;
}

.wht:hover {
  background: #dddddd;
}

.keys:active {
  background: var(--color-ylw);
  color: black;
}

.filler {
  opacity: 0;
}

/* mode content */

#modeColumn1 {

  width: 40%;
  height: 80%;
  margin-right: 3%;
}

#modeColumn2 {

  width: 40%;
  height: 80%;
}

.modeList {

  height: 22%;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blu);
}

.modeList:hover {
  background: var(--color-grn);
  color: black;
}

.modeList:active {
  background: var(--color-ylw);
  color: black;
}

/* ===================COMPONENTS: Chords=============================== */

.chordsContainer {
  position: relative;

  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.chordsWrap {
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: center;
}

.chords {
  /* border: 1px solid black; */
  width: 14.2%;
  height: 100%;
  text-align: center;
}

.maj {
  background: var(--color-red);
}

.min {
  background: var(--color-blu);
}

.aug {
  background: var(--color-prp);
}

.dim {
  background: var(--color-ylw);
}


.chordName {
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chordNumeral {

  height: 30%;


  display: flex;
  justify-content: center;
  align-items: center;
}






/* ===========COMPONENTS: Fretboard================================== */

#fretboardContainer {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#fretboardWrap {

  display: flex;
  justify-content: center;
  width: 97%;
  height: 70%;


}

.fretLegend {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 10%;


  text-align: center;
}

.fretLegend:last-child {
  margin-top: 0.3%;
}

#openString {
  width: 4%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.openStringColumn {

  height: 16.6%;
  display: flex;
  align-items: center;
}

#fretboard {
  width: 95%;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.strings {
  position: absolute;
  height: 50%;
  width: 100%;
  border-bottom: 1px solid grey;
}

.fretRows {
  width: 100%;
  height: 16.6%;

  display: flex;
  justify-content: center;
  position: relative;
}

.rowDigit {
  width: 8.3%;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  border-radius: 50%;
  background: #dddddd;
  color: black;
  font-size: 0.8em;

  width: 50%;
  height: 90%;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rootnote {
  background: black;
  color: white;
  border: none;
}

.thirdnote {
  background: var(--color-blu);
  color: black;
  border: none;
}

.fifthnote {
  background: var(--color-red);
  color: black;
  border: none;
}

.seventhnote {

  background: var(--color-ylw);
  color: black;
  border: none;
}

.open {
  width: 100%;
  height: 90%;
  border-radius: 0%;
  color: black;
  background: white;
}





#underTheActualFretboard {

  width: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.utafFiller0 {
  width: 4%;
}

.utafFiller1 {
  width: 8.3%;
}

.utafFiller2 {
  width: 16.6%;
}

.fretNum {
  font-size: 0.7em;
  width: 8.3%;
}

.fretLegend {
  height: 8%;
  margin-bottom: 1px;
}

#colorLegend {
  border: 1px dotted #d9d9d9;

  width: 94%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.singleColor {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sym {
  width: 11%;
  height: 100%;
  /* margin-right: 3px; */
}

.colorLegend {
    font-size: 0.8em;
}
/* ========================== */


@media only screen and (min-width: 768px) {

  * {
    font-size: 20px
  }


}

@media only screen and (min-width: 992px) {
  * {
    font-size: 24px
  }
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 30px
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 9px;
  }
}
